# Docker Compose
MONGO_USER=groupea_de
MONGO_PASSWORD=ForceN-GroupeA-Mongo
MINIO_USER=groupea_de
MINIO_PASSWORD=ForceN-GroupeA-MinIO
NIFI_USER=groupea_de
NIFI_PASSWORD=ForceN-GroupeA-NiFi

# ETL Python - MinIO (MINIO_ACCESS_KEY/SECRET_KEY doivent correspondre à MINIO_USER/PASSWORD)
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=groupea_de
MINIO_SECRET_KEY=ForceN-GroupeA-MinIO

# Bucket RAW (données brutes)
MINIO_RAW_BUCKET=weather-lake
MINIO_RAW_PATH=raw/weatherHistory.csv

# Bucket PROCESSED (données nettoyées)
MINIO_PROCESSED_BUCKET=weather-processed
MINIO_PROCESSED_PATH=weather_processed.csv
MINIO_ENRICHED_BUCKET=weather-processed
MINIO_ENRICHED_PATH=weather_processed_enriched.csv
MINIO_METADATA_BUCKET=weather-processed
MINIO_METADATA_PATH=weatherHistory_clean_metadata.json

# MongoDB Load
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=weather_dwh
MONGO_COLLECTION=weather_observations
MONGO_BATCH_SIZE=5000
